.page__heading {
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 85vw;
  left: 15%;
  background: #01a38c;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  text-align: right;
  display: flex;
  justify-content: space-between;
}
