.guestscreen__container {
  width: 100vw;
  height: 100vh;
  /* padding-top: 40px; */
}

.guestscreen__content {
  width: 85%;
  height: 90%;
  position: absolute;
  left: 15%;
  top: 10%;
  padding: 10px;
  overflow-y: scroll;
}

/* New Guest */
.newguest__form__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 20px auto;
}

.takephoto {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}

.staff__information__container h2 {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 0px;
}
.staff__information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.visitor__photo {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.visitor__photo img {
  width: 40%;
  /* height: 50%; */
  border-radius: 10px;
}

/* Verify Guest */

.verify__token {
  display: grid;
  grid-template-columns: 20vw 200px;
  grid-gap: 20px;
  /* margin: 20px auto; */
}

.guest__verified__details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 40px;
  justify-content: space-between;
  height: 40vh;
  grid-gap: 30px;
  width: 60%;
  position: absolute;
  left: 35%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.logs__container {
  width: 80vw;
  height: 90vh;
  position: fixed;
  top: 10%;
  left: 18%;
  overflow: scroll;
}
